<hr>
<po-container class="po-lg-12 containerHome">
    <div class="centerContent">
        <po-avatar p-size="md" p-src="\assets\gerenciar-icon.png">
        </po-avatar>
        <h1>Adicionar produtos a empresas</h1>
    </div>
    <po-divider></po-divider>
    <div class="centerContent">
        <h3>Por favor selecionar uma empresa:</h3>
    </div>
    <hr>
    <div class="centerContent">
        <po-table p-container p-height="600" p-sort="true" p-striped="true" [p-columns]="columns" [p-items]="data" class="po-md-4">
        </po-table>
    </div>


</po-container>