<hr>
<po-container class="po-lg-12 containerHome">
    <div class="centerContent">
        <po-avatar p-size="md" p-src="\assets\produto-icon.png">
        </po-avatar>
        <h1>Editar produtos</h1>
    </div>
    <po-divider></po-divider>
    <div class="centerContent">
        <po-dynamic-form #dynamicForm p-auto-focus="name" [p-fields]="fields" [p-value]="produto">
            <input type="hidden" name="id" id="id" value="{{idProduto}}">
        </po-dynamic-form>
    </div>
    <hr>
    <div class="po-row">
        <div class="po-md-3"></div>
        <po-button class="po-md-1" p-label="Voltar" routerLink="/produtos">
        </po-button>
        <div class="po-md-4"></div>
        <po-button class="po-md-1" p-label="Salvar" (p-click)="editarProduto(dynamicForm.form.form);">
        </po-button>
    </div>
    <div>
        <div class="loader" [hidden]="isHideLoading">
            <div class="imgLoader">
                <img src="../../../../assets/dragon-loading-gif.gif" alt="Loading" style="border-radius: 5%">
                <div class="textLoader">
                    <h3>Porfavor aguarde carregar...</h3>
                </div>
            </div>
        </div>
    </div>
</po-container>