<hr>
<po-container class="po-lg-12 containerHome">
    <div class="centerContent">
        <h1>Pagina Inicial</h1>
    </div>
    <hr>
    <div class="centerContent">
        <po-widget class="po-lg-3 po-mb-1 widget">
            <div class="centerContent">
                <h2>Empresas</h2>
            </div>
            <hr>
            <div class="po-font-subtitle centerContent">
                <a href="/empresas">
                    <po-avatar p-size="xl" p-src="\assets\empresa-icon.png">
                    </po-avatar>
                    <hr>
                    <div class="po-text-center">Ir para empresas</div>
                </a>
            </div>
        </po-widget>

        <po-widget class="po-lg-3 po-mb-1 widget">
            <div class="centerContent">
                <h2>Produtos</h2>
            </div>
            <hr>
            <div class="po-font-subtitle centerContent">
                <a href="/produtos">
                    <po-avatar p-size="xl" p-src="\assets\produto-icon.png">
                    </po-avatar>
                    <hr>
                    <div class="po-text-center">Ir para produtos</div>
                </a>
            </div>
        </po-widget>

        <po-widget class="po-lg-3 po-mb-1 widget">
            <div class="centerContent">
                <h2>Gerenciar</h2>
            </div>
            <hr>
            <div class="po-font-subtitle centerContent">
                <a href="/gerenciar">
                    <po-avatar p-size="xl" p-src="\assets\gerenciar-icon.png">
                    </po-avatar>
                    <hr>
                    <div class="po-text-center">Gerenciar</div>
                </a>
            </div>
        </po-widget>
    </div>
</po-container>