.divHeaderSpace {
    height: 15% !important;
}

.centerContent {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.widget {
    max-height: 350px !important;
}

.containerHome {
    height: max-content !important;
}